
.DS_Store
*.vtu
results/fields/fields_linear/variable1000000.vtu
results/fields/fields_linear/variable1000001.vtu
results/fields/fields_linear/variable1000002.vtu
results/fields/fields_linear/variable1000003.vtu
results/fields/fields_linear/variable2000000.vtu
results/fields/fields_linear/variable2000001.vtu
results/fields/fields_linear/variable2000002.vtu
results/fields/fields_linear/variable2000003.vtu
results/fields/fields_linear/variable3000000.vtu
results/fields/fields_linear/variable3000001.vtu
results/fields/fields_linear/variable3000002.vtu
results/fields/fields_linear/variable3000003.vtu
results/fields/fields_linear/variable4000000.vtu
results/fields/fields_linear/variable4000001.vtu
results/fields/fields_linear/variable4000002.vtu
results/fields/fields_linear/variable4000003.vtu
results/figures/diff_maps/fig1.pdf
results/figures/diff_maps/fig4_0.pdf
results/figures/diff_maps/fig4_1.pdf
results/figures/diff_maps/fig4_2.pdf
results/figures/diff_maps/fig5.pdf
results/figures/diff_maps/fig6_0.pdf
results/figures/diff_maps/fig6_1.pdf
results/figures/diff_maps/fig6_2.pdf
results/figures/diff_maps/fig7_0.pdf
results/figures/diff_maps/fig7_1.pdf
results/figures/diff_maps/fig7_2.pdf
results/figures/diff_maps/fig8_0.pdf
results/figures/diff_maps/fig8_1.pdf
results/figures/diff_maps/fig8_2.pdf
results/fields/fields_linear/variable1000000.vtu
results/fields/fields_linear/variable1000000.vtu
results/fields/fields_linear/variable1000001.vtu
